body {
    margin: 0;
}

h1, h2, p {
    margin-top: 0;
}

h1 {
    font-size: 36px;
    font-family: 'Righteous', cursive;
}

h2 {
    font-size: 27px;
    font-family: 'Monoton', cursive;
}

p {
    font-size: 18px;
    font-family: 'Livvic', sans-serif;
}

a {
    color: #FFE600;
    font-family: 'Livvic', sans-serif;
    font-weight: 700;
}

header,
section {
    padding: 50px;
}

header {
    background: #FFE600;
    color: #000;
}

.section-one {
    background: black;
    color: white;
}

.section-one-link:hover { 
    color: red;
}

.section-one-link:focus {
    color: purple;
}

.section-two-link { 
    color: black;
}

.section-two-link:hover { 
    color: red;
}

.section-two-link:focus {
    color: purple;
}

/* button styles */

.btn-yellow {
    display: inline-block;
    padding: 12px 25px;
    background: #FFE600;
    color: #000;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
}

.btn-yellow:hover {
    background: white;
}

.btn-black {
    display: inline-block;
    padding: 12px 25px;
    background: #000;
    color: #fff;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
}

.btn-black:hover {
    background: #FFE600;
    color: black;
}

